*, *:before, *:after {
    /* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
      box-sizing: inherit;
    }
    
     html {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
    
     /* Force vertical scrollbar so that page does not 'jump' when it appears 
        http://css-tricks.com/snippets/css/force-vertical-scrollbar/
     */
     overflow-y: scroll;
    
     /* Hyphens, 
        but see also http://blog.kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/ 
     */
        -webkit-hyphens: auto;
         -moz-hyphens: auto;
            -ms-hyphens: auto;
             -o-hyphens: auto;
                hyphens: auto;
    
        /* http://necolas.github.com/normalize.css/2.0.1/normalize.css */
        -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
    }

    body {
        padding: 0;
        margin: 0;
        height: 100%;
        background: rgb(62, 62, 62);
    }
    
    img { 
        border: 0; 
        -ms-interpolation-mode: bicubic; /* Better IMG resizing in IE */
    }

    header {
        display: flex;
        background: black;
        color: white;
        font-family: monospace;
        align-items: center;
        justify-content: center;
        padding: 10px 0;

        .title {
            background: url('../assets/title.png') center center no-repeat;
            background-size: contain;
            width: 299px;
            height: 39px;
        }
    }

    canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 10px double black;
        background: white;
    }

    footer {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 100vw;
        padding: 10px 0;
        left: 0;
        bottom: 0;
        background: black;

        @keyframes border-blink {
            from {
                border-bottom: 2px dashed transparent;
            }
            to {
                border-bottom: 2px dashed white;
            }
        }

        .footer-name {
            background: url('../assets/footer-name.png') center center no-repeat;
            background-size: contain;
            width: 159px;
            height: 14px;
            margin-right: 25px;
            padding-bottom: 20px;
            border-bottom: 2px dashed transparent;
            cursor: pointer;
            
            &:hover {
                animation: border-blink .3s infinite;
            }
        }

        .footer-github {
            background: url('../assets/footer-github.png') center center no-repeat;
            background-size: contain;
            width: 41px;
            height: 11px;
            padding-bottom: 20px;
            border-bottom: 2px dashed transparent;
            cursor: pointer;

            &:hover {
                animation: border-blink .3s infinite;
            }
        }
    }